DATABASE_URL=postgresql://postgres:PASSWORD@db.fcgzokyxrgmejbzlzlkz.supabase.co:5432/postgres
SUPABASE_URL=https://fcgzokyxrgmejbzlzlkz.supabase.co
SUPABASE_ANON_KEY=
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
